<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ACC Finance</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" href="img/ACCFinance.png" />
    </head>
    <style>
        .footer {
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #ffa500;
            color: white;
            font-family: "Quicksand", sans-serif;
            text-align: center;
        }
        .nav-item {
            font-size: 20px;
        }
        .header {
            background-color: DeepskyBlue;
            padding: 20px;
            text-align: center;
        }
        input[type="text"] {
            width: 50%;
            padding: 12px 20px;
            margin: 0px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-sizing: border-box;
        }

        .save {
            width: 25%;
            background-color: dodgerblue;
            color: white;
            padding: 10px 20px;
            margin: 4px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/img/logo_acc.png" width="181" height="66" class="d-inline-block align-top" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/customer">Data Customer<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/produk">Data Produk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kredit">Data Kredit</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Histori Cicilan</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/histori">Histori Cicilan by All</a>
                            <a class="dropdown-item" href="http://localhost:8888/histori/search/namacustomer">Histori Cicilan by Customer</a>
                            <a class="dropdown-item" href="http://localhost:8888/histori/search/namaproduk">Histori Cicilan by Produk</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tampilansalesman">Tugas Harian</a>
                    </li>
                </ul>
                <form th:action="@{/InsertPembayaranValue}" action="#" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="number" id="" name="idCust" placeholder="ID Customer" aria-label="Search" />
                    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search Customer" />
                </form>
            </div>
        </nav>
        <!-- End Of Navbar -->

        <!-- Content -->
        <div style="margin: auto; width: 52%; border-radius: 5px; padding: 20px;" class="container">
            <h2>Input Data Kredit</h2>
            <form action="#" th:action="@{/addkredit}" th:object="${kredit}" method="post" style="margin-top: 20pt;">
                <div class="form-group row">
                    <label for="kredit_id" class="col-sm-2 col-form-label">ID Kredit:</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{kredit_id}" id="kredit_id" placeholder="Insert Kredit ID" required />
                        <span th:if="${#fields.hasErrors('kredit_id')}" th:errors="*{kredit_id}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tenor" class="col-sm-2 col-form-label">Tenor:</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{tenor}" id="tenor" placeholder="Insert Tenor" required />
                        <span th:if="${#fields.hasErrors('tenor')}" th:errors="*{tenor}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="total_pelunasan" class="col-sm-2 col-form-label">Total Pelunasan:</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{total_pelunasan}" id="total_pelunasan" placeholder="Insert Total Pelunasan" required />
                        <span th:if="${#fields.hasErrors('total_pelunasan')}" th:errors="*{total_pelunasan}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sisa_pelunasan" class="col-sm-2 col-form-label">Sisa Pelunasan:</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{sisa_pelunasan}" id="sisa_pelunasan" placeholder="Insert Sisa Pelunasan" required />
                        <span th:if="${#fields.hasErrors('sisa_pelunasan')}" th:errors="*{sisa_pelunasan}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="jatuh_tempo" class="col-sm-2 col-form-label">Jatuh Tempo:</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{jatuh_tempo}" id="jatuh_tempo" placeholder="Insert Jatuh Tempo" required />
                        <span th:if="${#fields.hasErrors('jatuh_tempo')}" th:errors="*{jatuh_tempo}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tahun_kredit" class="col-sm-2 col-form-label">Tahun Kredit:</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{tahun_kredit}" id="tahun_kredit" placeholder="Insert Tahun Kredit" required />
                        <span th:if="${#fields.hasErrors('tahun_kredit')}" th:errors="*{tahun_kredit}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_prod" class="col-sm-2 col-form-label">Produk ID:</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{id_prod}" id="id_prod" placeholder="Insert Produk ID" required />
                        <span th:if="${#fields.hasErrors('id_prod')}" th:errors="*{id_prod}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sisa_tenor" class="col-sm-2 col-form-label">Sisa Tenor:</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{sisa_tenor}" id="sisa_tenor" placeholder="Insert Sisa Tenor" required />
                        <span th:if="${#fields.hasErrors('sisa_tenor')}" th:errors="*{sisa_tenor}"></span>
                    </div>
                </div>
                <button type="submit" class="save">Simpan Kredit</button>
            </form>
        </div>
        <!-- End Of Content -->

        <!-- Footer -->
        <div class="footer"><p>Copyright &copy 2021. All Rights Reserved - Batch 11 | Mini Project 2</p></div>
        <!-- End Of Footer -->
    </body>
</html>
